.dice {
    opacity: 0.5;
    cursor: pointer;
}

.dice:hover {
    opacity: 1;
}

.toggleable {
    cursor: pointer;
}

th.npc {
    cursor: pointer;
}

th.pc {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.condition {
    opacity: 0.2;
    height: 2em;
}

.player-view-condition {
    height: 2em;
}
