
<div class="modal fade bd-modal-lg"
     id="area-of-effect"
     tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="text-center">
                    Area of Effet&nbsp;&nbsp;
                    <i id="aoe-redo" class="fas fa-redo clickable" style="height: 1em"></i>
                </h2>
                <hr/>
                <div class="row form-row">
                    <select class="selectpicker show-tick form-control" data-style="btn-info"
                            id="aoe-saving-throw" title="Saving throw type">
                        <option value="str">Strength</option>
                        <option value="dex">Dexterity</option>
                        <option value="con">Constitution</option>
                        <option value="wis">Wisdom</option>
                        <option value="int">Intelligence</option>
                        <option value="cha">Charisma</option>
                    </select>
                    <label for="aoe-dc" class="col-form-label-sm">DC</label>
                    <input id="aoe-dc" class="form-control form-control-sm" type="number" min="0"
                           step="1" value="10"/>
                    <label for="aoe-damage" class="col-form-label-sm">Damage</label>
                    <input id="aoe-damage" class="form-control form-control-sm" type="number" min="0"
                           step="1" value="0"/>
                </div>
                <div class="aoe-conditions">
                    <label class="col-form-label-sm">Conditions to apply</label>
                    <br/>
                    {% with conditions = all_conditions %}
                        {% include "conditions.html" %}
                    {% endwith %}
                </div>
                <hr/>
                {% for creature in creatures + players %}
                    <div class="col-12 row d-flex aoe-row" data-creature="#row{{ creature.__hash__() }}"
                         data-saving-throw-str="{{ creature.str_save }}"
                         data-saving-throw-dex="{{ creature.dex_save }}"
                         data-saving-throw-con="{{ creature.con_save }}"
                         data-saving-throw-wis="{{ creature.wis_save }}"
                         data-saving-throw-int="{{ creature.int_save }}"
                         data-saving-throw-cha="{{ creature.cha_save }}">
                        <div class="col-md-4 col-6">
                            <b>{{ creature.alias }}</b>
                            {% for trait in creature.traits %}
                                {% for resistance_trait in ["Legendary Resistance", "Evasion", "Indomitable", "Magic Resistance", "Fey Ancestry", "Dwarven Resistance", "Duergar Resilience", "Brave", "Gnome Cunning"] %}
                                    {% if resistance_trait in trait.name %}
                                        <br/>&nbsp;&nbsp;&nbsp;&nbsp;{{ trait.name }}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            {% if creature.damage_resistances %}
                                <br/>&nbsp;&nbsp;&nbsp;&nbsp;Resist to
                                {{ creature.damage_resistances|damage_type_list }}
                            {% endif %}
                            {% if creature.damage_immunities %}
                                <br/>&nbsp;&nbsp;&nbsp;&nbsp;Immune to
                                {{ creature.damage_immunities|damage_type_list }}
                            {% endif %}
                            {% if creature.condition_immunities %}
                                <br/>&nbsp;&nbsp;&nbsp;&nbsp;Immune to
                                {{ creature.condition_immunities|condition_list|safe }}
                            {% endif %}
                        </div>
                        <div class="col-2 font-weight-bold">
                            <span class="aoe-score">∅</span>
                            <span class="aoe-damage d-none">
                                        &nbsp;(<span class="aoe-damage-value">0</span> HP)
                                    </span>
                        </div> <!-- Roll value -->
                        <div class="ml-auto"></div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <i class="fas fa-dice-d20 fa-2x clickable toggleable aoe-reroll"
                               title="Reroll" data-toggle="tooltip"
                               data-placement="bottom" style="opacity: 0.2"></i>
                            <i class="fas fa-dice-d20 fa-2x clickable toggleable text-success aoe-advantage"
                               title="Use advantage" data-toggle="tooltip"
                               data-placement="bottom" style="opacity: 0.2"></i>
                            <i class="fas fa-dice-d20 fa-2x clickable toggleable text-danger aoe-disadvantage"
                               title="Use disadvantage" data-toggle="tooltip"
                               data-placement="bottom" style="opacity: 0.2"></i>
                            <i class="fas fa-shield-alt fa-2x clickable toggleable aoe-resistance"
                               title="Resistance" data-placement="bottom" data-toggle="tooltip"
                               style="opacity: 0.2"></i>
                        </div>
                        <button type="button" class="col-md-2 col-4 btn btn-primary form-control aoe-validate"
                                disabled>
                            Apply
                        </button>
                    </div>
                    <hr/>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
