<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    {% block title %}
        <title>Fight Tracker</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if theme and theme == "white" %}
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}"
              rel="stylesheet">
    {% else %}
        <link href="{{ url_for('static', filename='css/bootstrap.darkly.css') }}"
              rel="stylesheet">
    {% endif %}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link href="{{ url_for('static', filename='css/fight_tracker.css') }}"
          rel="stylesheet">
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='img/favicon.png') }}">
    <script src="https://kit.fontawesome.com/bfdab36220.js"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js" crossorigin="anonymous"></script>
    {% block head %}
    {% endblock %}
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <a href="{{ url_for("home") }}" target="_blank" class="navbar-brand">
        <i class="fab fa-d-and-d fa-lg">
            Fight Tracker
        </i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" target="_blank"
                       href="{{ url_for('fight_tracker') }}">
                        <i class="fas fa-list-ul fa-2x"
                           title="Current fight (DM-side)"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank"
                       href="https://www.fantasynamegenerators.com/dungeons-and-dragons.php">
                        <i class="fas fa-signature fa-2x"
                           title="Name generator"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank"
                       href="{{ url_for('search_creature') }}">
                        <i class="fas fa-search fa-2x"
                           title="Search creature"></i>
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" target="_blank"
                   href="https://{{ request.host }}/5e">
                    <i class="fas fa-book fa-2x" title="Reference"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank"
                   href="{{ url_for('wizard_spells') }}">
                    <i class="fas fa-hat-wizard fa-2x" title="Roll spells"></i>
                </a>
            </li>
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" target="_blank"
                       href="{{ url_for('generate_treasure') }}">
                        <i class="fas fa-gem fa-2x"
                           title="Generate random gems"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.logout') }}">
                        <i class="fas fa-sign-out-alt fa-2x"
                           title="Logout"></i>
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.login') }}">
                        <i class="fas fa-sign-in-alt fa-2x"
                           title="Login as DM"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% block navbar %}
            {% endblock %}
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" target="_blank"
                   href="http://{{ request.host_url|domain_name }}:8000/stream">
                    <i class="fas fa-music fa-2x" title="Music"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank"
                   href="https://www.aidedd.org/dnd-dice/index.php">
                    <i class="fas fa-dice-d20 fa-2x" title="Dice roller"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank"
                   href="https://app.roll20.net/campaigns/details/8277151/le-donjon-du-mage-dement">
                    <i class="fas fa-map-marked fa-2x" title="Roll20"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank"
                   href="https://www.dndbeyond.com/campaigns/870254">
                    <i class="fab fa-d-and-d-beyond fa-2x"
                       title="DnDBeyond"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank"
                   href="https://s-ingi-mulacres.fandom.com/fr/wiki/Wiki_S-ingi-mulacreS">
                    <i class="fab fa-wikipedia-w fa-2x" title="Fandom"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank"
                   href="https://bitbucket.org/jadinm/dnd-rpg-scripts">
                    <i class="fas fa-code-branch fa-2x" title="Source code"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<!-- Toasts -->
<div class="position-absolute w-100 d-flex flex-column p-4">
    <div style="position: absolute; top: 0; right: 0;">
        <div class="toast d-none" role="alert" aria-live="assertive" aria-atomic="true" id="elem-toast">
            <div class="toast-header">
                <strong class="toast-header-text mr-auto"></strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                <img class="rounded mr-auto" src="" width="15%"/>
                <span class="toast-body-text font-weight-bold ml-3 mb-2"></span>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <br/>
    {# One-time system messages called Flash messages #}
    {% block flash_messages %}
        {%- with messages = get_flashed_messages(with_categories=true) -%}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category=='error' %}
                        {% set category='danger' %}
                    {% endif %}
                    <div class="alert alert-{{ category }}">{{ message|safe }}</div>
                {% endfor %}
            {% endif %}
        {%- endwith %}
    {% endblock %}
    {% block body %}
    {% endblock %}
</div>

{% block modals %}
{% endblock %}

<audio preload="auto" class="audio-roll" id="roll-0">
    <source src="{{ url_for('static', filename='audio/roll.wav') }}"
            type="audio/x-wav">
</audio>
<audio preload="auto" class="audio-roll" id="roll-1">
    <source src="{{ url_for('static', filename='audio/roll_1.wav') }}"
            type="audio/x-wav">
</audio>
<audio preload="auto" class="audio-roll" id="roll-2">
    <source src="{{ url_for('static', filename='audio/roll_2.wav') }}"
            type="audio/x-wav">
</audio>
<audio preload="auto" class="audio-roll" id="roll-3">
    <source src="{{ url_for('static', filename='audio/roll_3.wav') }}"
            type="audio/x-wav">
</audio>
{% block audio %}
{% endblock %}

<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/roll.js') }}"></script>
{% block javascript %}
{% endblock %}

</body>
</html>