
{% set classes = "condition toggleable" %}

<img src="{{ url_for('static', filename='img/surprised.svg') }}"
     alt="" class="{{ classes }}"
     {{ "Surprised"|condition_style(conditions)|safe }}/>
<img src="{{ url_for('static', filename='img/opportunity_attack.svg') }}"
     alt="" class="{{ classes }}"
     {{ "Opportunity attack used"|condition_style(conditions)|safe}}/>
<img src="{{ url_for('static', filename='img/reaction.svg') }}"
     alt="" class="{{ classes }}"
     {{ "Reaction used"|condition_style(conditions)|safe}}/>
<img src="{{ url_for('static', filename='img/readied_action.svg') }}"
     alt="" class="{{ classes }}"
     {{ "Readied action"|condition_style(conditions)|safe}}/>
<img src="{{ url_for('static', filename='img/blinded.svg') }}"
     alt="" class="{{ classes }}"
     {{ "Blinded"|condition_style(conditions)|safe}}/>
<img src="{{ url_for('static', filename='img/charmed.svg') }}"
     alt="" class="{{ classes }}"
     {{ "Charmed"|condition_style(conditions)|safe}}/>
<img src="{{ url_for('static', filename='img/concentrating.svg') }}"
     alt="" class="{{ classes }}"
     {{ "Concentrating on a spell"|condition_style(conditions)|safe}}/>
<img src="{{ url_for('static', filename='img/deafened.svg') }}"
     alt="" class="{{ classes }}"
     {{ "Deafened"|condition_style(conditions)|safe}}/>
<img src="{{ url_for('static', filename='img/frightened.svg') }}"
     alt="" class="{{ classes }}"
     {{ "Frightened"|condition_style(conditions)|safe}}/>
<img src="{{ url_for('static', filename='img/grappled.png') }}"
     alt="" class="{{ classes }}"
     {{ "Grappled"|condition_style(conditions)|safe}}/>
<img src="{{ url_for('static', filename='img/hasted.svg') }}"
     alt="" class="{{ classes }}"
     {{ "Hasted"|condition_style(conditions)|safe}}/>
<img src="{{ url_for('static', filename='img/invisible.svg') }}"
     alt="" class="{{ classes }}"
     {{ "Invisible"|condition_style(conditions)|safe}}/>
<img src="{{ url_for('static', filename='img/on_fire.svg') }}"
     alt="" class="{{ classes }}"
     {{ "On fire"|condition_style(conditions)|safe}}/>
<img src="{{ url_for('static', filename='img/paralyzed.svg') }}"
     alt="" class="{{ classes }}"
     {{ "Paralyzed"|condition_style(conditions)|safe}}/>
<img src="{{ url_for('static', filename='img/petrified.svg') }}"
     alt="" class="{{ classes }}"
     {{ "Petrified"|condition_style(conditions)|safe}}/>
<img src="{{ url_for('static', filename='img/poisoned.svg') }}"
     alt="" class="{{ classes }}"
     {{ "Poisoned"|condition_style(conditions)|safe}}/>
<img src="{{ url_for('static', filename='img/prone.svg') }}"
     alt="" class="{{ classes }}"
     {{ "Prone"|condition_style(conditions)|safe}}/>
<img src="{{ url_for('static', filename='img/restrained.svg') }}"
     alt="" class="{{ classes }}"
     {{ "Restrained"|condition_style(conditions)|safe}}/>
<img src="{{ url_for('static', filename='img/slowed.svg') }}"
     alt="" class="{{ classes }}"
     {{ "Slowed"|condition_style(conditions)|safe}}/>
<img src="{{ url_for('static', filename='img/stunned.svg') }}"
     alt="" class="{{ classes }}"
     {{ "Stunned"|condition_style(conditions)|safe}}/>
<img src="{{ url_for('static', filename='img/unconscious.svg') }}"
     alt="" class="{{ classes }}"
     {{ "Unconscious"|condition_style(conditions)|safe}}/>
<img src="{{ url_for('static', filename='img/transformed.svg') }}"
     alt="" class="{{ classes }}"
     {{ "Transformed"|condition_style(conditions)|safe}}/>
<img src="{{ url_for('static', filename='img/magical_effect.svg') }}"
     alt="" class="{{ classes }}"
     {{ "Other magical effect"|condition_style(conditions)|safe}}/>
