{% set checkbox_id = creature.__hash__() %}
{% set hp_class_input = "" %}
{% set ac_class_input = "" %}
{% if pc %}
    {% set name_class = "pc" %}
{% else %}
    {% set name_class = "npc" %}
    {% if not creature.has_regular_hpmax_max %}
        {% set hp_class_input = "text-danger font-weight-bold" %}
    {% endif %}
    {% if not creature.has_simple_ac %}
        {% set ac_class_input = "text-danger font-weight-bold" %}
    {% endif %}
{% endif %}
<th scope="row" class="align-middle {{ name_class }}" data-toggle="modal"
    data-target="#statblock{{ creature.__hash__() }}">
    {{ creature.alias }}
</th>
{% if creature.initiative == 0 %}
    {% set init = 30 %}
{% else %}
    {% set init = creature.initiative %}
{% endif %}
<td class="align-middle initiative">
    <input class="form-control form-control-sm initiative" min="0" step="1"
           value="{{ init }}" name="init" aria-label=""/>
</td>

<td class="align-middle">
    <input class="form-control form-control-sm ac {{ ac_class_input }}" min="0" step="1"
           name="ac" value="{{ creature.ac }}" aria-label=""/>
</td>
<td class="align-middle">
    <input class="form-control form-control-sm hp {{ hp_class_input }}" type="number" min="0"
           step="1" name="hp" value="{{ creature.hp }}" aria-label=""/>
</td>
<td class="align-middle mx-0 px-0">
    <div class="btn mx-0 px-0" data-toggle="modal" data-target="#hp-modal{{ creature.__hash__() }}">
        <i class="fas fa-heartbeat fa-lg" title="Add/Remove HP"></i>
    </div>
</td>
<td class="align-middle">
    {% with conditions = creature.conditions %}
        {% include "conditions.html" %}
    {% endwith %}
</td>
<td class="align-middle visibility">
    <div class="custom-control custom-checkbox">
        {% if pc %}
            <input hidden class="custom-control-input" type="checkbox"
                   aria-label="" checked>
        {% else %}
            {% if creature.visible %}
                {% set check = "checked" %}
            {% else %}
                {% set check = "" %}
            {% endif %}
            <input class="custom-control-input select-pnj" {{ check }}
                   type="checkbox" aria-label="" id="{{ checkbox_id }}">
            <label class="custom-control-label" for="{{ checkbox_id }}">
                <span class="text-hide">~</span>
            </label>
        {% endif %}
    </div>
</td>
