<form action="{{ url_for('fight_tracker') }}" method="post" novalidate>
    <button type="submit" class="col-12 btn btn-primary">Fight!</button>
    <br/>
    <br/>

    <div class="panel-group" id="accordion">
        {% for chapter in all_encounters.keys()|natsort() %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title clickable"
                        data-target="#list-{{ chapter|aidedd }}"
                        data-toggle="collapse">
                        <i class="fas fa-arrow-down"></i> {{ chapter }}
                    </h4>
                </div>

                <div class="panel-collapse collapse" data-parent="#accordion"
                     id="list-{{ chapter|aidedd }}">
                    <div class="panel-body row">
                        {% for encounter, encounter_name in all_encounters[chapter] %}
                            <div class="col-4 custom-control custom-checkbox">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       name="encounter"
                                       value="{{ encounter }}"
                                       id="{{ encounter }}">
                                <label class="custom-control-label"
                                       for="{{ encounter }}">
                                    {{ encounter_name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</form>
