{% extends "base.html" %}

{% block navbar %}
    <!-- Area of effect -->
    <li class="nav-item">
        <div class="btn nav-link turn btn" data-toggle="modal"
             data-target="#area-of-effect">
            <i class="fas fa-bomb fa-2x" title="Area of effect"></i>
        </div>
    </li>
    <!-- Show/change current turn -->
    <li class="nav-item">
        <div class="btn nav-link next-round">
            <i class="turn fas fa-forward fa-2x" title="Next turn"> 0</i>
        </div>
    </li>
    <!-- Show creature stat blocks -->
    <li class="nav-item">
        <a class="nav-link" target="_blank"
           href="{{ url_for("npc_list") }}">
            <i class="fas fa-scroll fa-2x" title="NPC stat blocks"></i>
        </a>
    </li>
    <!-- Modify fight -->
    <li class="nav-item">
        <div class="btn nav-link turn btn" data-toggle="modal"
             data-target="#add-creature">
            <i class="fas fa-user-plus fa-2x" title="Add a creature"></i>
        </div>
    </li>
    <li class="nav-item">
        <div class="btn nav-link turn btn" data-toggle="modal"
             data-target="#add-encounter">
            <i class="fas fa-folder-plus fa-2x" title="Add encounter files"></i>
        </div>
    </li>
    <!-- Save or reset fight -->
    <li class="nav-item">
        <a class="btn nav-link turn btn" href="{{ url_for("save_fight") }}">
            <i class="fas fa-save fa-2x" title="Save the fight"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="btn nav-link turn btn"
           href="{{ url_for("reset_fight") }}">
            <i class="fas fa-eraser fa-2x" title="Reset the fight"></i>
        </a>
    </li>
{% endblock %}

{% block body %}
    <!-- Tracker table -->
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" class="align-middle">Name
            </th>
            <th scope="col" class="align-middle">Init</th>
            <th scope="col" class="align-middle">
                <i class="fas fa-shield-alt"></i>
            </th>
            <th scope="col" class="align-middle">
                <i class="fas fa-heartbeat"></i>
            </th>
            <th scope="col" class="align-middle">
            </th>
            <th scope="col" class="align-middle">
                Conditions
            </th>
            <th scope="col" class="align-middle">
                <div class="custom-control custom-checkbox">
                    <input class="select-all-pnj custom-control-input"
                           id="all_visibile" type="checkbox" aria-label=""
                           style="width: 15px">
                    <label class="custom-control-label" for="all_visibile">
                        <span class="text-hide">~</span>
                    </label>
                </div>
            </th>
        </tr>
        </thead>
        <tbody class="tracker-table-body">

        {% for character in players %}
            <tr id="row{{ character.__hash__() }}" class="table-secondary">
                {% with creature = character, pc = True %}
                    {% include "creature_row.html" %}
                {% endwith %}
            </tr>
        {% endfor %}

        {% for creature in creatures %}
            <tr id="row{{ creature.__hash__() }}" class="table-secondary">
                {% include "creature_row.html" %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for("update_fight") }}" class="update-fight-url d-none"></a>
{% endblock %}

{% block modals %}
    <!-- Stat blocks -->
    {% for creature in creatures + players %}
        <div class="container">
            <div class="modal fade bd-modal-lg"
                 id="statblock{{ creature.__hash__() }}"
                 tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-body">
                            {% include "stat_block.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <!-- Easy sum of damage for everyone -->
    {% for creature in creatures + players %}
        <div class="container">
            <div class="modal fade bd-modal-lg" id="hp-modal{{ creature.__hash__() }}" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h4 class="text-center">{{ creature.alias }}</h4>
                            <hr/>
                            <div class="row form-row">
                                <label for="hp-modal-value{{ creature.__hash__() }}" class="col-form-label-sm">
                                    HP difference
                                </label>
                                <input id="hp-modal-value{{ creature.__hash__() }}"
                                       class="form-control form-control-sm hp-modal-value" type="number" min="0"
                                       step="1" value="0"/>
                            </div>
                            <hr/>
                            <div class="row col-12 form-row">
                                <button type="button" class="col-6 btn btn-danger form-control hp-modal-validate"
                                        data-reduce="true" data-creature="#row{{ creature.__hash__() }}">
                                    Remove HP
                                </button>
                                <button type="button" class="col-6 btn btn-success form-control hp-modal-validate"
                                        data-reduce="false" data-creature="#row{{ creature.__hash__() }}">
                                    Add HP
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <!-- Handle the Area of Effects -->
    <div class="container">
        {% include "area_of_effect.html" %}
    </div>
    <!-- Handle the Multi-attacks -->
    <div class="container">
        {% include "multi_attacks.html" %}
    </div>
    <!-- Add a new encounter creature to the fight -->
    <div class="container">
        <div class="modal fade bd-modal-lg"
             id="add-creature"
             tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        {% with submit = "Add creature" %}
                            {% include "search_creature_form.html" %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add a new encounter file to the fight -->
    <div class="container">
        <div class="modal fade bd-modal-lg"
             id="add-encounter"
             tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        {% include "encounter_list.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Lair action alert -->
    <div class="container">
        <div class="modal fade bd-modal-lg"
             id="lair-action-alert"
             tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" id="lair-action-alert-2">
                <div class="modal-content">
                    <div class="modal-body">
                        <h1 class="text-center">
                            💀 Time for a lair action 💀
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        let creatures = JSON.parse('{{ creatures | serialize | tojson | escape_slash | safe}}')
        creatures = creatures.concat(JSON.parse('{{ players | serialize | tojson | escape_slash | safe}}'))
    </script>
    <script src="{{ url_for('static', filename='js/rounds.js') }}"></script>
    <script src="{{ url_for('static', filename='js/hp.js') }}">
    </script>
    <script src="{{ url_for('static', filename='js/update_fight.js') }}">
    </script>
    <script src="{{ url_for('static', filename='js/dm_socket.js') }}">
    </script>
    <script src="{{ url_for('static', filename='js/area_of_effect.js') }}">
    </script>
    <script src="{{ url_for('static', filename='js/multi_attacks.js') }}">
    </script>
{% endblock %}
