{% extends "base.html" %}

{% block title %}
    <title>Generate gem treasure</title>
{% endblock %}

{% block body %}
    <label class="mx-1 mt-5 mr-2" for="gem-number">Nombre de gemmes&nbsp;</label>
    <input id="gem-number" class="mx-1 mb-4" type="number" value="1" min="0">
    <ul id="gem-list" class="list-group list-group-flush">
    </ul>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/treasure.js') }}"></script>
{% endblock %}
