{% extends "base.html" %}

{% block navbar %}
    <li class="nav-item font-weight-bold navbar-brand" id="current-round">
    </li>
{% endblock %}

{% block body %}
    <div id="tracker-root">
    </div>
{% endblock %}

{% block modals %}
    <div id="tracker-modals">
    </div>
{% endblock %}

{% block javascript %}
    <script>
        let creatures = JSON.parse('{{ creatures | tojson | safe}}');
        let round = {{ round }};
        let conditions_tooltips = JSON.parse('{{ conditions_tooltips | tojson | safe}}');
    </script>
    <script src="{{ url_for('static', filename='js/fight_player_side.js') }}"
            type="text/babel"></script>
{% endblock %}
