{% extends "base.html" %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block body %}
    <form action="" method="post" class="form" role="form">
        {{ form.hidden_tag() }}

        {# Username or Email field #}
        {% set field = form.username if user_manager.USER_ENABLE_USERNAME else form.email %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            <div>
                <label for="{{ field.id }}"
                       class="control-label">{{ field.label.text }}</label>
            </div>
            {{ field(class_='form-control', tabindex=110) }}
            {% if field.errors %}
                {% for e in field.errors %}
                    <p class="help-block">{{ e }}</p>
                {% endfor %}
            {% endif %}
        </div>

        {# Password field #}
        {% set field = form.password %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            <div class="col-xs-6">
                <label for="{{ field.id }}"
                       class="control-label">{{ field.label.text }}</label>
            </div>
            {{ field(class_='form-control', tabindex=120) }}
            {% if field.errors %}
                {% for e in field.errors %}
                    <p class="help-block">{{ e }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary form-control">
            Login as DM
        </button>
    </form>
{% endblock %}
