<!-- accessed when right-clicking on a dice -->

<div class="modal fade bd-modal-lg"
     id="multi-rolls"
     tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="text-center">
                    Multi-attacks&nbsp;&nbsp;
                    <i id="multi-rolls-redo" class="fas fa-redo clickable" style="height: 1em"></i>
                </h2>
                <hr/>
                <div class="row form-row">
                    <label for="multi-rolls-num" class="col-form-label-sm">Number of rolls</label>
                    <input id="multi-rolls-num" class="form-control form-control-sm" type="number" min="0"
                           step="1" value="2"/>
                </div>
                <div id="multi-rolls-text" class="row d-none">
                </div>
                <hr/>
                <div class="row">
                    <ul id="multi-rolls-results" class="list-group-flush col-12">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
