{% extends "base.html" %}

{% block title %}
    <title>NPC List</title>
{% endblock %}

{% block body %}
    <!--Grid row-->
    <div class="row">
        {% for column in range(2) %}
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4">
                {% for creature in creatures %}
                    {% if (loop.index - 1) % 2 == column %}
                        {% include "stat_block.html" %}
                        <hr/>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <!--Grid row-->
{% endblock %}

{% block modals %}
    <!-- Handle the Multi-attacks -->
    <div class="container">
        {% include "multi_attacks.html" %}
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/multi_attacks.js') }}">
    </script>
{% endblock %}
