<form method="post" novalidate>
    <label for="creature-name">Choose a creature:</label>
    <select class="selectpicker show-tick form-control"
            data-live-search="true" data-style="btn-info"
            name="creature-name" id="creature-name">
        {% for c_name in creature_names %}
            <option data-tokens="{{ c_name }}">{{ c_name }}</option>
        {% endfor %}
    </select>
    <br/>
    <br/>
    <button type="submit" class="btn btn-primary form-control">
        {{ submit }}
    </button>
</form>
