{% extends "base.html" %}

{% block title %}
    <title>Generate spells</title>
{% endblock %}

{% block body %}
    <!--Selection form-->
    <form method="post" novalidate>
        <label for="spell-level">Spell level:</label>
        <select class="selectpicker show-tick form-control" data-style="btn-info"
                name="spell-level" id="spell-level">
            {% for i in range(10) %}
                <option data-tokens="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        <br/>
        <label for="spell-number">Number of spell to generate by spellbook:</label>
        <input class="form-control form-control-sm initiative" min="1" step="1" type="number"
               value="1" name="spell-number" id="spell-number"/>
        <br/>
        <label for="spellbook-number">Number of spellbooks:</label>
        <input class="form-control form-control-sm initiative" min="1" step="1" type="number"
               value="1" name="spellbook-number" id="spellbook-number"/>
        <br/>
        <button type="submit" class="btn btn-primary form-control">
            Roll spells
        </button>
    </form>
    <!--Selected creature block-->
    {% if spells %}
        <hr/>
        <h2>Rolled spells</h2>
        <div>
            <div class="copy-text btn align-middle" title="Click to copy the spells" data-clipboard-target="#spellbook">
                <img src="{{ url_for("static", filename="img/spellbook.svg") }}" alt="" width="60em">
            </div>
            <label for="spellbook"></label>
            <textarea id="spellbook" style="width: 1px; height: 1px">{{ spells|visual_spellbook }}</textarea>
        </div>
        <br/>
        {% for spell in spells %}
            <a class="btn btn-link" target="_blank" href="{{ spell.link }}">
                {{ spell }}
            </a>
        {% endfor %}
    {% endif %}
{% endblock %}
