
{% for spell_level in spell_levels %}
    <p>
        <strong><em>{{ spell_level.name }}</em>&nbsp;</strong>
        {% set spell_outer_loop = loop %}
        {% for i in range(spell_level.limit) %}
            <i class="fas fa-square fa-lg toggleable" data-{{ spell_type }}-index="{{ spell_outer_loop.index }}"
                    {{ loop.index|use_initial_style(spell_level.expanded)|safe }}></i>
        {% endfor %}
        <br/>
        {% for spell in spell_level.spells %}
            <a class="btn btn-link" target="_blank"
               href="{{ spell.link }}">
                {{ spell }}
            </a>
        {% endfor %}
    </p>
{% endfor %}
