<div class="container creature-stat">
    <h1><span id="alias{{ creature.__hash__() }}">{{ creature.alias }}</span>
        <sup class="far fa-copy copy-text clickable"
             data-clipboard-target="#alias{{ creature.__hash__() }}"></sup>
        (<span id="name{{ creature.__hash__() }}">{{ creature.name }}</span>
        <sup class="far fa-copy copy-text clickable"
             data-clipboard-target="#name{{ creature.__hash__() }}"></sup>)
    </h1>
    <div>
        <h4>
            <span class="creature-roll"></span>
            <span class="creature-roll-adv"></span>
            <span class="creature-roll-dis"></span>
        </h4>
        <div class="type">
            <em>
                {{ creature.size_full }} {{ creature.type }},
                {{ creature.alignment }}
                {% if creature.link %}
                    <a class="btn btn-link fas fa-book fa-lg" target="_blank" href="{{ creature.link }}"></a>
                {% endif %}
                {% if creature.search_term %}
                    <a class="btn btn-link fab fa-google fa-lg" target="_blank"
                       href="https://www.google.com/search?q=forgotten+realms+{{ creature.search_term|replace(" ", "+") }}"></a>
                {% endif %}
            </em>
        </div>
        <hr/>

        <div>
            <div class="m-0 p-0">
                <strong>Armor Class</strong> {{ creature.ac }}
                {% if creature.armor_desc %}
                    ({{ creature.armor_desc|parse_tags|safe }})
                {% endif %}
            </div>
            <div class="m-0 p-0">
                <strong>Health Points</strong> {{ creature.hpmax }}
                {% if creature.hpmax_roll %}
                    {{ ("(" + creature.hpmax_roll + ")")
                       |diceroller("25%", enable_dice)|safe }}
                {% endif %}
            </div>
            <div class="m-0 p-0">
                <strong>Speed</strong> {{ creature.speed }}
            </div>
            <hr/>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">STR</th>
                    <th scope="col">DEX</th>
                    <th scope="col">CON</th>
                    <th scope="col">INT</th>
                    <th scope="col">WIS</th>
                    <th scope="col">CHA</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        {{ creature.strength }}
                    </td>
                    <td>
                        {{ creature.dexterity }}
                    </td>
                    <td>
                        {{ creature.constitution }}
                    </td>
                    <td>
                        {{ creature.intelligence }}
                    </td>
                    <td>
                        {{ creature.wisdom }}
                    </td>
                    <td>
                        {{ creature.charisma }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ creature .str|abilitymodifier
                        |diceroller("25%", enable_dice)|safe }}
                    </td>
                    <td>
                        {{ creature.dex|abilitymodifier
                        |diceroller("25%", enable_dice)|safe }}
                    </td>
                    <td>
                        {{ creature.con|abilitymodifier
                        |diceroller("25%", enable_dice)|safe }}
                    </td>
                    <td>
                        {{ creature.int|abilitymodifier
                        |diceroller("25%", enable_dice)|safe }}
                    </td>
                    <td>
                        {{ creature.wis|abilitymodifier
                        |diceroller("25%", enable_dice)|safe }}
                    </td>
                    <td>
                        {{ creature.cha|abilitymodifier
                        |diceroller("25%", enable_dice)|safe }}
                    </td>
                </tr>
                </tbody>
            </table>
            <hr/>
            {% if creature.saving_throws %}
                <div class="m-0 p-0">
                    <strong>Saving Throws</strong>
                    {{ creature.saving_throws|join(", ")
                    |diceroller("4%", enable_dice)|safe }}
                </div>
            {% endif %}
            {% if creature.abilities %}
                <div class="m-0 p-0">
                    <strong>Skills</strong>
                    {{ creature.abilities|join(", ")
                    |diceroller("4%", enable_dice)|safe }}
                </div>
            {% endif %}
            {% if creature.damage_weaknesses %}
                <div class="m-0 p-0">
                    <strong>Vulnerabilities</strong>
                    {{ creature.damage_weaknesses|damage_type_list }}
                </div>
            {% endif %}
            {% if creature.damage_resistances %}
                <div class="m-0 p-0">
                    <strong>Resistances</strong>
                    {{ creature.damage_resistances|damage_type_list }}
                </div>
            {% endif %}
            {% if creature.damage_immunities %}
                <div class="m-0 p-0">
                    <strong>Immunities</strong>
                    {{ creature.damage_immunities|damage_type_list }}
                </div>
            {% endif %}
            {% if creature.condition_immunities %}
                <div class="m-0 p-0">
                    <strong>Condition Immunities</strong>
                    {{ creature.condition_immunities|condition_list|safe }}
                </div>
            {% endif %}
            <div class="m-0 p-0">
                {% if creature.senses %}
                    <strong>Senses</strong> {{ creature.senses|join(", ") }},
                {% endif %}
                Passive insight {{ creature.passive_insight }}
            </div>
            {% if creature.languages %}
                <div class="m-0 p-0">
                    <strong>Languages</strong> {{ creature.languages|join(", ") }}
                </div>
            {% endif %}
            {% if creature.xp > 0 %}
                <div class="m-0 p-0">
                    <strong>Challenge Rating</strong>
                    {{ creature.challenge }} ({{ creature.xp }} XP)
                    {% if creature.other_xp_desc %}
                        {{ creature.other_xp_desc }}
                    {% endif %}
                </div>
            {% endif %}
        </div>

        {% if creature.traits %}
            <hr/>
        {% endif %}
        {% for trait in creature.traits %}
            <p>
                {% if trait.name %}
                    <strong>
                        <em>
                            {{ trait.name|parse_tags|safe }}
                        </em>
                    </strong>.
                {% endif %}
                {% set outer_loop = loop %}
                {% for i in range(trait.limit) %}
                    <i class="fas fa-square fa-lg toggleable" data-traits-index="{{ outer_loop.index }}"
                            {{ loop.index|use_initial_style(trait.expanded)|safe }}></i>
                {% endfor %}
                <br/>
                {{ trait.description|replace("\n", "<br/>")|parse_tags|safe }}
                {% with spell_levels = trait.spells, spell_type = "traits-index-" + loop.index|string + "-spells" %}
                    {% include "spell_levels.html" %}
                {% endwith %}
            </p>
        {% endfor %}

        {% if creature.spells %}
            <hr/>
            {% if creature.has_spellbook %}
                <div>
                    <span class="align-middle">SPELLS</span>
                    <div class="copy-text btn align-middle" title="Click to copy the spells"
                         data-clipboard-target="#spellbook{{ creature.__hash__() }}">
                        <img src="{{ url_for("static", filename="img/spellbook.svg") }}" alt="" width="60em">
                    </div>
                    <textarea id="spellbook{{ creature.__hash__() }}" aria-label=""
                              style="width: 1px; height: 1px">{{ creature.spellbook|visual_spellbook }}</textarea>
                </div>
            {% else %}
                <div>SPELLS</div>
            {% endif %}
            <hr/>
        {% endif %}
        {% with spell_levels = creature.spells, spell_type = "spells" %}
            {% include "spell_levels.html" %}
        {% endwith %}

        {% if creature.actions %}
            <hr/>
            <div>ACTIONS</div>
            <hr/>
        {% endif %}
        {% for action in creature.actions %}
            <p>
                {% if action.name %}
                    <strong>
                        <em>
                            {{ action.name|parse_tags|safe }}
                        </em>
                    </strong>.
                {% endif %}
                {% set outer_loop = loop %}
                {% for i in range(action.limit) %}
                    <i class="fas fa-square fa-lg toggleable" data-actions-index="{{ outer_loop.index }}"
                            {{ loop.index|use_initial_style(action.expanded)|safe }}></i>
                {% endfor %}
                <br/>
                {{ action.description|parse_tags|safe }}
                {% with spell_levels = action.spells, spell_type = "actions-index-" + loop.index|string + "-spells" %}
                    {% include "spell_levels.html" %}
                {% endwith %}
            </p>
        {% endfor %}

        {% if creature.reactions %}
            <hr/>
            <div>REACTIONS</div>
            <hr/>
        {% endif %}
        {% for action in creature.reactions %}
            <p>
                {% if action.name %}
                    <strong>
                        <em>
                            {{ action.name|parse_tags|safe }}
                        </em>
                    </strong>.
                {% endif %}
                {% set outer_loop = loop %}
                {% for i in range(action.limit) %}
                    <i class="fas fa-square fa-lg toggleable" data-reactions-index="{{ outer_loop.index }}"
                            {{ loop.index|use_initial_style(action.expanded)|safe }}></i>
                {% endfor %}
                <br/>
                {{ action.description|replace("\n", "<br/>")|parse_tags|safe }}
                {% with spell_levels = action.spells, spell_type = "reactions-index-" + loop.index|string + "-spells" %}
                    {% include "spell_levels.html" %}
                {% endwith %}
            </p>
        {% endfor %}

        {% if creature.variant %}
            <hr/>
            <div>VARIANT</div>
            <hr/>
        {% endif %}
        {% for action in creature.variant %}
            <p>
                {% if action.name %}
                    <strong>
                        <em>
                            {{ action.name|parse_tags|safe }}
                        </em>
                    </strong>.
                {% endif %}
                {% set outer_loop = loop %}
                {% for i in range(action.limit) %}
                    <i class="fas fa-square fa-lg toggleable" data-variant-index="{{ outer_loop.index }}"
                            {{ loop.index|use_initial_style(action.expanded)|safe }}></i>
                {% endfor %}
                <br/>
                {{ action.description|replace("\n", "<br/>")|parse_tags|safe }}
                {% with spell_levels = action.spells, spell_type = "variant-index-" + loop.index|string + "-spells" %}
                    {% include "spell_levels.html" %}
                {% endwith %}
            </p>
        {% endfor %}

        {% if creature.legendary_actions %}
            <hr/>
            <div>
                LEGENDARY ACTIONS&nbsp;
                {# This number is tied down to a classic party of 4 PC, so increase it beyond this #}
                {% for i in range(creature.legendary_actions_limit + [0, players|length - 4]|max) %}
                    <i class="fas fa-square fa-lg toggleable" data-legendary-actions="true"
                            {{ loop.index|use_initial_style(creature.legendary_actions_expanded)|safe }}></i>
                {% endfor %}
            </div>
            <hr/>
            {% if creature.legendary_actions_desc %}
                <p>
                    {{ creature.legendary_actions_desc }}
                </p>
            {% endif %}
        {% endif %}
        {% for action in creature.legendary_actions %}
            <p>
                {% if action.name %}
                    <strong>
                        <em>
                            {{ action.name|parse_tags|safe }}
                        </em>
                    </strong>.
                {% endif %}
                {% set outer_loop = loop %}
                {% for i in range(action.limit) %}
                    <i class="fas fa-square fa-lg toggleable" data-legendary-actions-index="{{ outer_loop.index }}"
                            {{ loop.index|use_initial_style(action.expanded)|safe }}></i>
                {% endfor %}
                <br/>
                {{ action.description|replace("\n", "<br/>")|parse_tags|safe }}
                {% with spell_levels = action.spells, spell_type = "legendary-actions-index-" + loop.index|string + "-spells" %}
                    {% include "spell_levels.html" %}
                {% endwith %}
            </p>
        {% endfor %}

        {% if creature.mythic_actions %}
            <hr/>
            <div>
                MYTHIC ACTIONS
            </div>
            <hr/>
            {% if creature.mythic_actions_desc %}
                <p>
                    {{ creature.mythic_actions_desc }}
                </p>
            {% endif %}
        {% endif %}
        {% for action in creature.mythic_actions %}
            <p>
                {% if action.name %}
                    <strong>
                        <em>
                            {{ action.name|parse_tags|safe }}
                        </em>
                    </strong>.
                {% endif %}
                <br/>
                {{ action.description|replace("\n", "<br/>")|parse_tags|safe }}
                {% with spell_levels = action.spells, spell_type = "mythic-actions-index-" + loop.index|string + "-spells" %}
                    {% include "spell_levels.html" %}
                {% endwith %}
            </p>
        {% endfor %}

        {% if creature.lair_actions %}
            <hr/>
            <div class="lair-actions">LAIR ACTIONS</div>
            <hr/>
            {% if creature.lair_actions_desc %}
                <p>
                    {{ creature.lair_actions_desc }}
                </p>
            {% endif %}
        {% endif %}
        {% for action in creature.lair_actions %}
            <ul>
                {% if "<li>" not in action.description and "<li>" not in action.name %}
                    </ul>
                {% endif %}
            {% if action.name %}
                <strong>
                    <em>
                        {{ action.name|parse_tags|safe }}
                    </em>
                </strong>.
            {% endif %}
            {% set outer_loop = loop %}
            {% for i in range(action.limit) %}
                <i class="fas fa-square fa-lg toggleable" data-lair-actions-index="{{ outer_loop.index }}
                            {{ loop.index|use_initial_style(action.expanded)|safe }}"></i>
            {% endfor %}
            {% if action.name or action.limit %}
                <br/>
            {% endif %}
            {{ action.description|replace("\n", "<br/>")|parse_tags|safe }}
            {% with spell_levels = action.spells, spell_type = "lair-actions-index-" + loop.index|string + "-spells" %}
                {% include "spell_levels.html" %}
            {% endwith %}
            {% if "<li>" not in action.description and "<li>" not in action.name %}
                <ul>
            {% endif %}
        </ul>
        {% endfor %}
        {% if creature.regional_effects %}
            <hr/>
            <div class="lair-actions">REGIONAL EFFECTS</div>
            <hr/>
        {% endif %}
        {% for action in creature.regional_effects %}
            <ul>
                {% if "<li>" not in action.description and "<li>" not in action.name %}
                    </ul>
                {% endif %}
            {% if action.name %}
                <strong>
                    <em>
                        {{ action.name|parse_tags|safe }}
                    </em>
                </strong>.
            {% endif %}
            {% set outer_loop = loop %}
            {% for i in range(action.limit) %}
                <i class="fas fa-square fa-lg toggleable" data-regional-effects-index="{{ outer_loop.index }}"
                        {{ loop.index|use_initial_style(action.expanded)|safe }}></i>
            {% endfor %}
            {% if action.name or action.limit %}
                <br/>
            {% endif %}
            {{ action.description|replace("\n", "<br/>")|parse_tags|safe }}
            {% with spell_levels = action.spells, spell_type = "regional-effects-index-" + loop.index|string + "-spells" %}
                {% include "spell_levels.html" %}
            {% endwith %}
            {% if "<li>" not in action.description and "<li>" not in action.name %}
                <ul>
            {% endif %}
        </ul>
        {% endfor %}

        {% if creature.note %}
            <hr/>
            <div>NOTE</div>
            <hr/>
            <p>
                {{ creature.note }}
            </p>
        {% endif %}

        {% if creature.image_path %}
            <hr/>
            <div class="text-center">
                <img src="{{ url_for('download_image',
                                 path=creature.image_path) }}"
                     width="30%" alt="" class="creature-image rounded"
                     title="{{ creature.name }}"/>
                {% if creature.appearance %}
                    <img src="{{ url_for('download_image',
                                 path=creature.player_image_path) }}"
                         width="30%" alt=""
                         class="creature-player-image rounded"
                         title="{{ creature.appearance }}"/>
                {% endif %}
            </div>
            <hr/>
        {% endif %}
    </div>
</div>
